.OverviewMain {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    margin-top: 8px;
    border: #acadb8 solid 1px;
    border-radius: 5px;
    height: 302px;
    background:#acadb8;

    /* padding :10px; */
}
.OverviewMain .drop{
    position: relative;
    width: 100px;
    left: 25%;
    margin: 10px;
}
.OverviewMain .drop2{
    position: relative;
    width: 100px;
    left: 62%;
    
    
}

